# Producerflow API Documentation

## Table of Contents

{{range .Files}}
{{range .Services}}
- [{{.Name}}](#{{.Name | lower}})
{{range .Methods}}
  - [{{.Name}}](#{{.Name | lower}})
{{end}}
{{end}}
{{end}}
- [Shared Types](#shared-types)
- [Enums](#enums)

---

{{range $file := .Files}}
{{range .Services}}
## {{.Name}}

{{.Description}}

{{range $method := .Methods}}
### {{.Name}}

{{if .RequestStreaming}}**STREAMING**{{end}}

{{.Description}}

#### Request: `{{.RequestLongType}}`

{{range $file.Messages}}
{{if eq .FullName $method.RequestFullType}}
{{if .Description}}{{.Description}}{{end}}

{{if .HasFields}}
| Field | Type | Label | Description |
|-------|------|-------|-------------|
{{range .Fields}}
| `{{.Name}}` | {{.LongType}} | {{.Label}} | {{if (index .Options "deprecated"|default false)}}**Deprecated.** {{end}}{{.Description}}{{if .DefaultValue}} Default: {{.DefaultValue}}{{end}} |
{{end}}
{{else}}
*This message has no fields.*
{{end}}
{{end}}
{{end}}

#### Response: `{{.ResponseLongType}}`{{if .ResponseStreaming}} **STREAMING**{{end}}

{{range $file.Messages}}
{{if eq .FullName $method.ResponseFullType}}
{{if .Description}}{{.Description}}{{end}}

{{if .HasFields}}
| Field | Type | Label | Description |
|-------|------|-------|-------------|
{{range .Fields}}
| `{{.Name}}` | {{.LongType}} | {{.Label}} | {{if (index .Options "deprecated"|default false)}}**Deprecated.** {{end}}{{.Description}}{{if .DefaultValue}} Default: {{.DefaultValue}}{{end}} |
{{end}}
{{else}}
*This message has no fields.*
{{end}}
{{end}}
{{end}}

---

{{end}}
{{end}}
{{end}}

## Shared Types

These types are used across multiple API methods.

{{range .Files}}
{{if .HasMessages}}
### {{.Name}}

{{range .Messages}}
{{if not (or (hasSuffix .Name "Request") (hasSuffix .Name "Response"))}}
#### {{.LongName}}

{{.Description}}

{{if .HasFields}}
| Field | Type | Label | Description |
|-------|------|-------|-------------|
{{range .Fields}}
| `{{.Name}}` | {{.LongType}} | {{.Label}} | {{if (index .Options "deprecated"|default false)}}**Deprecated.** {{end}}{{.Description}}{{if .DefaultValue}} Default: {{.DefaultValue}}{{end}} |
{{end}}
{{end}}

{{if .HasExtensions}}
| Extension | Type | Base | Number | Description |
|-----------|------|------|--------|-------------|
{{range .Extensions}}
| {{.Name}} | {{.LongType}} | {{.ContainingLongType}} | {{.Number}} | {{.Description}}{{if .DefaultValue}} Default: {{.DefaultValue}}{{end}} |
{{end}}
{{end}}

{{end}}
{{end}}
{{end}}
{{end}}

---

## Enums

{{range .Files}}
{{if .HasEnums}}
### {{.Name}}

{{range .Enums}}
#### {{.LongName}}

{{.Description}}

| Name | Number | Description |
|------|--------|-------------|
{{range .Values}}
| {{.Name}} | {{.Number}} | {{.Description}} |
{{end}}

{{end}}
{{end}}
{{end}}

{{range .Files}}
{{if .HasExtensions}}
### {{.Name}} - File-level Extensions

| Extension | Type | Base | Number | Description |
|-----------|------|------|--------|-------------|
{{range .Extensions}}
| {{.Name}} | {{.LongType}} | {{.ContainingLongType}} | {{.Number}} | {{.Description}}{{if .DefaultValue}} Default: {{.DefaultValue}}{{end}} |
{{end}}

{{end}}
{{end}}
